@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #fff;
	background-color: #12f8ad;
	overflow-x: hidden;
    background-image: url('../images/pexels-photo-6576317.jpeg');
    background-size: cover;
}
a { cursor: pointer; transition: all 200ms linear; }

a:hover { text-decoration: none; }

.link { color: #fff; }

.link:hover { color: #12f8ad; }

p { font-weight: 500; font-size: 14px; line-height: 1.7; }

h1 { font-weight: 600;
padding-top: 3%;
font-weight: 900; 
text-align: center;}

h4 {
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.section{
    position: relative;
    width: 100%;
    display: block;
   
}
    .label{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #12f8ad;
    background-color: #2a2b38;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 450px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 40px;
}
.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;    
    top: 0;
    left: 0;  
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out; 
}
.card-front{
    background-image: url('../images/pexels-photo-6022476.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    text-align: center;
    margin-left: 430px;
}
.form-group{ 
    position: relative;
    display: block;
    margin: 10px;
    padding:0;
    width: 350px;
}
.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #12f8ad;
    transition: all 200ms linear;
}
.form-group input:-ms-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 50ms linear;
}

.form-group input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.1;
    transition: all 10ms linear;
}
.form-group input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 10ms linear;
}
 
.btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #12f8ad;
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(18, 248, 173,.2);
    margin-left: 160px;
}
.btn:active,
.btn:focus{  
  background-color: #fff;
  color: #12f8ad;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.btn:hover{  
  background-color: #fff;
  color:#12f8ad;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}
.btn4{
    margin-top: 5%;
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* -ms-flex-pack: center; */
    text-align: center;
    border: none;
    background-color:red ;
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(18, 248, 173,.2); 
}
.btn4:hover{  
    background-color: #fff;
    color:#12f8ad;
    box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
  }
  .btn4:active,
.btn4:focus{  
  background-color: #fff;
  color: #12f8ad;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}